@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: black;
}

.container {
  display: flex;
  border-radius: 28% 72% 26% 74% / 70% 89% 11% 30%;
  background-color: orange;
}
.marquee {
    width:auto;
    line-height:auto;
    background-color: rgb(16, 16, 16);
    color: rgb(235, 121, 15);
    font-size:x-large;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}